<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>hue_forms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">

    </head>

  <body>

    <div class="row">
		<div class="span12">
		    <div class="container">
		      <form action="/" method="post">{% csrf_token %}
		        <h2>Please sign in</h2>
		        <!--<input type="text" name="bridge-ip" class="input-block-level" placeholder="Bridge IP Address">
		        <input type="text" name="user-name" class="input-block-level" placeholder="User Name">
		        <input class="btn btn-large btn-primary" value="Sign In" type="submit"/>
		        -->
		        {{form.as_p}}
		        <input type="submit" value="Submit" />
		      </form>
		    </div> <!-- /container -->
		</div>
	</div>
	<div class="row footer">
		<div class="span12">
			<address>
				<strong>Elizabeth Di Nunzio</strong><br>
				<a href="mailto:e.dinunzio@gmail.com">e.dinunzio@gmail.com</a>
			</address>
		</div>
	</div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>

  </body>
</html>
